@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


nav{
    background: rgb(250,250,250);
background: linear-gradient(90deg, rgba(250,250,250,1) 7%, rgba(255,128,206,1) 64%);
}

#carousel1{
    width: 50% 
}

.div1{
    background: rgb(250,250,250);
    background: linear-gradient(90deg, rgba(250,250,250,1) 7%, rgba(255,128,206,1) 64%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton{
    display: flex;
    align-items:end;
}